<div class = "container"><header>
	<div class = "wrapper">
	<h1>Emotional Securities</h1>
	
	<div class = "search">
		<%= form_tag do %>
		<%= text_field_tag(:search) %>
		<%= submit_tag("Search") %>
		<% end %>
	</div>
	</div>
</header>

<section class = "metrics">
	<ul>
	<div = "wrapper">
	<li>
			<div class = "feature herd">
		<div class = "overlay herd">
			<h3>Herd</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature expert">
		<div class = "overlay expert">
			<h3>Expert</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature three">
		<div class = "overlay three">
			<h3>Three</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature four">
		<div class = "overlay four">
			<h3>Four</h3>
		</div>
			</div>
	</li>

	</div>
	</ul>
</section>

<section id="chart-area">
<div id = "chart">
</div>
</section>
<div class = "push"></div>
</div>

<footer>
	<div class = "copyright">
	</div>
	<nav>
		<ul>
			<li>
				<%= link_to 'Gratitude', '#' %>
			</li>
			|
			<li>
				<%= link_to 'About The Authors', '#' %>
			</li>
			|
			<li>
				<%= link_to 'Source', "#" %>
			</li>
	</nav>
</footer>