	<%= render "partials/header" %>




<div id="fullpage">
<div class = "landing section">
	<%= image_tag 'happy.png' %>
	<h1>How does general sentiment interact with Stock Price?</h1>
</div>

	<div class = "metrics section">
			<h1 class = "company">$AAPL</h1>
		<ul>
		<div = "wrapper">
		<li>
				<div class = "feature herd">
					<h4></h4>
				<p><%= image_tag 'herd.png' %></p>
				<h3 class="24-hour-metrics"></h3>
				<p>'Herd' mindset is a metric in behavioral finance. In this context, it represents all the tweets made about a company.
				</div>
		</li>
		<li>
				<div class = "feature volume">
					<h4></h4>
				<p><%= image_tag 'delta.png' %></p>
				<h3 class="24-hour-metrics"></h3>
				<p>Volume measures the number of stocks traded in the past day. Our volume delta measures the change in volume from 24 hours ago to now.
				</div>
		</li>
		<li>
				<div class = "feature expert">
					<h4></h4>
				<p><%= image_tag 'expert.png' %>
				<h3 class="24-hour-metrics"></h3>
				<p>'Expert' mindset is a metric in behavioral finance. In this context, it represents financial blog articles.
				</div>
		</li>
		</div>
		</ul>
	</div>

<div class = "section">
	<h1 class = "company">$AAPL</h1>
		<div id="container" ></div>
</div>
	<div id = "about" class="section">
		<h1>ABOUT</h1>
		<article>
		<p><strong>Emotional Securities</strong> is an experimental analysis of general sentiment towards a given company against the stock price of said company.</p>
		<p>Working off a few of the core metrics of behavioral finance, we pulled "herd" sentiment data from the <a href = "https://dev.twitter.com/">Twitter Streaming API</a>, and "expert" sentiment from articles on <a href = "http://finance.yahoo.com/">Yahoo Finance</a>. <a href = "http://www.alchemyapi.com/">AlchemyAPI</a> kindly granted us academic access to <a href = "http://www.alchemyapi.com/products/products-overview/">their amazing service</a>, which we used to analyze sentiment in tweets, and entity targeted sentiment in articles.</p>
		<p>We have incorporated a <a href = "http://en.wikipedia.org/wiki/Naive_Bayes_classifier">Naïve Bayes</a> <a href = "https://github.com/bmuller/ankusa">implimentation</a> to sort out irrelevant tweets; our algorithm, fondly nicknamed Hal9000, is given a sampling of "expert" tweets, and non-related tweets. It learns what words and phrases are commonly used in the relevant tweets, and sorts our incoming stream based on that data.</p>
		<p>The graph in the main view plots, in line form, stock price over time and an exponential moving average of tweet sentiments, which can be seen in a scatterplot behind the two main lines.</p>
		<p>Please peruse our source code at your leisure, <a href = "https://github.com/celeen/emotional_securities">here</a>.</p>
		</article>


	</div>
</div>
