<div class = "container">
	<%= render "partials/header" %>

<section class = "metrics">
	<div id = "metrics">
		<h1>FILLER:<%= params[:company] %></h1>
	<ul>
	<div = "wrapper">
	<li>
			<div class = "feature herd">
				<h4></h4>
		<div class = "overlay herd">
			<p><%= image_tag 'herd.png' %></p>
			<h3>Herd Sentiment</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature expert">
				<h4></h4>
		<div class = "overlay expert">
			<p><%= image_tag 'expert.png' %>
			<h3>Expert</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature volume">
				<h4></h4>
		<div class = "overlay three">
			<p><%= image_tag 'delta.png' %></p>
			<h3>Three</h3>
		</div>
			</div>
	</li>
	</div>
	</ul>
</div>
</section>

<section id="chart-area">
<hr>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<hr>
</section>

<section class = "about">
	<hr>
	<div id = "about">
		<h1>ABOUT</h1>

	</div>
</section>
<div class = "push"></div>
</div>



<footer>
	<div class = "copyright">
	</div>
	<nav>
		<ul>
			<li>
				<%= link_to 'About The Authors', '#' %>
			</li>
			|
			<li>
				<%= link_to 'Source', "#" %>
			</li>
	</nav>
</footer>
