<div class = "container">
	<%= render "partials/header" %>

<section class = "metrics">
	<div id = "metrics">
		<h1>FILLER:<%= params[:company] %></h1>
	<ul>
	<div = "wrapper">
	<li>
			<div class = "feature herd">
				<h4></h4>
		<div class = "overlay herd">
			<p><%= image_tag 'herd.png' %></p>
			<h3>Herd Sentiment</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature expert">
				<h4></h4>
		<div class = "overlay expert">
			<p><%= image_tag 'expert.png' %>
			<h3>Expert</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature volume">
				<h4></h4>
		<div class = "overlay three">
			<p><%= image_tag 'delta.png' %></p>
			<h3>Three</h3>
		</div>
			</div>
	</li>
	</div>
	</ul>
</div>
</section>

<section id="chart-area">
<hr>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<hr>
</section>

<section class = "about">
	<hr>
	<div id = "about">
		<h1>ABOUT</h1>
		<h2>Methodology</h2>
		<p><strong>Emotional Securities</strong> is an experimental analysis of general sentiment towards a given company against stock price of said company.</p>
		<p>Working off a few of the core metrics of behavioral finance, we pulled "herd" sentiment data from the Twitter Streaming API, and "expert" sentiment from articles on Yahoo Finance. AlchemyAPI kindly granted us academic access to their amazing service, which we used to analyze sentiment in tweets, and entity targeted sentiment in articles.</p>
		<p>We have implimented an attempt at a Naïve Bayes algorithm to try to sort through relevant tweets; our algorithm, fondly nicknamed Hal9000, is given a sampling of "expert" tweets, and non-related tweets. It learns what words and phrases are commonly used in the relevant tweets, and sorts our incoming stream based on that data.</p> 
		<p>Please peruse our source code at your leisure, here.</p>
		<h2>The Creators</h2>
		<p>Three students at Dev Bootcamp collaborated over an 8-day final project to build this app.</p>
		<p><strong>Joey Rosztoczy</strong> hails from Phoenix. As the primary center of financial and statistical knowledge on this project, he has been nicknamed "The Brofessor". Ruomr has it that in his free time, he enjoys boating and martinis, but the majority remains skeptical, as one would expect boating to be a difficult passtime in Phoenix.</p>
		<p><strong>Xander Glassman</strong> is very tall, very relaxed, and enjoys caring for his fish, Kevin. Because of his expertise in Fish Cultivation, he relied upon as our Senior Fish Behaviorist. When he is not learning to be a coding ninja, he spends his time with his family in Cape Cod.</p>
		<p><strong>Celeen Rusk</strong> is a female. This phenomenon is reportedly rare in the technical world, and thus attention should be paid to it.</p>
	</div>
</section>
<div class = "push"></div>
</div>



<footer>
	<div class = "copyright">
	</div>
	<nav>
		<ul>
			<li>
				<%= link_to 'About The Authors', '#' %>
			</li>
			|
			<li>
				<%= link_to 'Source', "#" %>
			</li>
	</nav>
</footer>
